* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

a,
button,
input {
	outline: none;
}

.logo {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 224px 55px;
	width: 224px;
	height: 55px;
	display: inline-block;
	text-decoration: none;
	flex-shrink: 0;
}

.contacts {
	display: block;

	&__contact {
		text-decoration: none;
		display: block;
		font-family: Roboto, sans-serif;
		color: inherit;
		transition: color .3s 0s;

		&:hover {
			color: #FFD110;
		}

		&_phone {
			font-weight: 300;
			font-size: 17px;
			line-height: 20px;
		}

		&_email {
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;
		}
	}

}

.button {
	font-size: 16px;
	font-family: Roboto, sans-serif;
	height: 46px;
	padding: 0 23px;
	border-radius: 46px;
	cursor: pointer;
	max-width: 100%;
	transition: color .3s 0s;
	transition: background-color .3s 0s;

	&:hover {
		border-color: transparent;
		background-color: #fff;
		color: #000;
	}

	&:disabled {
		background-color: #000;
		color: #fff;
		border-color: transparent;
		cursor: default;
	}
	
	&_transparent {
		background-color: transparent;
		border: 1px solid #FFD110;
		color: #E6EFF0;
	}

	&_yellow {
		background-color: #FFD110;
		border: 1px solid #BA9E08;
		color: #000;
	}

	&_error {
		background-color: #E64C3B;
		color: #fff;
		border-color: transparent;

		&:hover {
			background-color: #E64C3B;
			border-color: transparent;
			color: #fff;
		}

		& > span {
			position: relative;
		}

		& > span:before,
		& > span:after {
			content: '';
			width: 2px;
			height: 1em;
			background-color: #fff;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -30px;
			margin: auto;
		}

		& > span:before {
			transform: rotate(-45deg);
		}

		& > span:after {
			transform: rotate(45deg);
		}
	}

	&_success {
		background-color: #66BB6A;
		color: #fff;
		border-color: transparent;
		font-size: 14px;

		&:hover {
			background-color: #66BB6A;
			color: #fff;
			border-color: transparent;
		}

		& > span {
			position: relative;
		}

		& > span:before {
			content: '';
			width: 13px;
			height: 8px;
			border-width: 0 0 3px 3px;
			border-style: solid;
			border-color: #fff;
			position: absolute;
			top: 1px;
			left: -30px;
			transform: rotate(-45deg);
		}
	}

	@media (max-width: 1366px) {
		height: 40px;
		border-radius: 40px;
		font-size: 14px;
	}
}

.close {
	border: none;
	padding: 0;
	background-color: transparent;
	font-size: 36px;
	cursor: pointer;
}

.h {
	color: #000;
	font-size: 62px;
	line-height: 81px;
	font-weight: normal;
	margin: 104px auto 18px;
	max-width: 1280px;
	font-family: PT Sans, sans-serif;
	font-weight: 700;

	@media (max-width: 1366px) {
		font-size: 42px;
		line-height: 55px;
		max-width: 1040px;
		padding: 0 40px;
	}

	@media (max-width: 500px) {
		font-size: 30px;
		line-height: 39px;
		padding: 0 20px;
		margin-top: 50px;
	}
}

.ul {
	padding: 0;
	margin: 47px auto;
	list-style-type: none;
	max-width: 1280px;
	
	@media (max-width: 1366px) {
		max-width: 1040px;
		padding: 0 40px;
	}

	@media (max-width: 500px) {
		padding: 0 20px;
	}
}

.li {
	font-size: 16px;
	line-height: 19px;
	color: #000;
	font-family: Roboto, sans-serif;
	margin: 20px 0;
	max-width: 500px;
	position: relative;
	padding-left: 14px;

	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-width: 5px 6px;
		border-style: solid;
		border-color: transparent transparent transparent #FFD600;
		position: absolute;
		top: 5px;
		left: 0;
	}

	@media (max-width: 1366px) {
		font-size: 15px;
		line-height: 18px;
	}

	@media (max-width: 500px) {
		margin: 16px 0;
		padding-bottom: 16px;
		border-bottom: 1px solid #ffd110;

		&:last-child {
			border-bottom: none;
		}

		&:before {
			display: none;
		}
	}
}

.input {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #BA9E08;
	border-left: none;
	font-size: 16px;
	line-height: 19px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #191C1D;
	padding-bottom: 10px;
	margin-top: 40px;
	display: block;
	background-color: transparent;
	width: 290px;
	max-width: 100%;

	&::placeholder {
		color: #191C1D;
		opacity: 1;
	}

	&:focus {
		padding-bottom: 9px;
		border-bottom-width: 2px;
		border-bottom-color: #191C1D;
	}

	&_filled {
		border-bottom-color: #191C1D;
	}

	&_error {
		color: #E64C3B;
		border-bottom-color: #E64C3B;
	}
}

.label {
	display: block;
	position: relative;
	width: 300px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	overflow: hidden;
	padding: 0 21px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	left: -21px;
	max-width: 100%;
	z-index: 1;
	
	

	&:hover > span:before,
	&:hover input:checked + span:before {
		opacity: 1;
	}

	input:checked + span:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		z-index: -1;
		transition: background-color .3s 0s;
	}

	& > input + span {
		padding-left: 28px;
	}

	& > input + span:before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 14px;
		height: 14px;
		border-radius: 14px;
		border-width: 3px;
		border-style: solid;
		border-color: #000;
		opacity: .2;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 21px;
		margin: auto;
		transition: border-color .3s 0s;
	}

	& > input:checked + span:before {
		width: 13px;
		height: 8px;
		border-width: 0 0 3px 3px;
		border-radius: 0;
		transform: rotate(-45deg);
	}
}

.radio {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	margin: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.top-menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transform: translateZ(0);
	height: 155px;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	//display: none;

	&_solid {
		background-color: #000;
	}

	&__logo {
		background-image: url(imgs/logo-tom-menu.png);

	}

	&__right {
		display: flex;
		align-items: center;
		margin-left: 40px;
	}

	&__nav-item {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		padding-right: 50px;
		line-height: 19px;
		font-size: 16px;
		font-family: Roboto, sans-serif;
		transition: color .3s 0s;

		&:hover {
			color: #FFD110;
		}
	}

	&__contacts {
		margin-left: 50px;
		align-self: flex-start;
	}

	&__contacts-phone {
		margin-bottom: 5px;
	}

	&__button {
		position: absolute;
		width: 27px;
		height: 21px;
		border: none;
		padding: 0;
		background-color: transparent;
		top: 0;
		right: 40px;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		display: none;

		&_close {
			width: 21px;
		}

		& > span {
			display: block;
			width: 27px;
			height: 21px;
			border-style: solid;
			border-color: #fff;
			border-width: 2px 0;

			&:before,
			&:after {
				content: '';
				background-color: #fff;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 0;
				right: 0;
			}

			&:before {
				height: 2px;
			}

			&:after {
				display: none;
				width: 2px;
			}
		}

		&_close > span {
			width: 21px;
			border: none;
			transform: rotate(45deg);

			&:after {
				display: block;
			}
		}
	}

	@media (max-width: 1366px) {
		height: 120px;
		padding: 32px 40px;

		&__nav-item {
			font-size: 14px;
			line-height: 16px;
			padding-right: 40px;
		}
	}

	@media (max-width: 1260px) {
		background-color: #000;

		&__nav {
			display: none;
		}

		&__calc {
			display: none;
		}

		&__contacts {
			display: none;
		}

		&__button {
			display: block;
		}
	}

	@media (max-width: 768px) {
		padding: 12px 20px;
		height: 52px;

		&__logo {
			width: 128px;
			height: 28px;
			background-image: url(imgs/logo-min-top-menu.png);
			background-size: 128px 28px;
		}

		&__button {
			right: 20px;
		}
	}
}

.expand-menu {
	position: fixed;
	top: 120px;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateZ(0);
	background-color: #000;
	z-index: 2;
	overflow: auto;
	display: none;

	&_show {
		display: none;
	}

	&__inner {
		max-width: 270px;
		margin: auto;
		padding: 40px 20px;
		display: flex;
		flex-direction: column;
	}

	&__nav {
		margin-bottom: 0;
	}

	&__nav-item {
		display: block;
		color: #E6EFF0;
		text-decoration: none;
		font-size: 24px;
		line-height: 24px;
		text-transform: uppercase;
		font-family: Roboto, sans-serif;
		font-weight: 300;
		margin-bottom: 35px;
	}

	&__button {
		border: none;
		padding: 0 0 18px;
		background-color: transparent;
		color: #E6EFF0;
		font-size: 24px;
		line-height: 28px;
		text-decoration: none;
		font-weight: 300;
		font-family: Roboto, sans-serif;
		width: 256px;
		border-bottom: 1px solid #FFD110;
		max-width: 100%;
	}

	&__contacts {
		color: #E6EFF0;

		&-phone {
			font-size: 26px;
			line-height: 30px;
			margin-top: 46px;
		}

		&-email {
			font-size: 22px;
			line-height: 25px;
			margin-top: 6px;
		}
	}

	&__address {
		font-size: 16px;
		font-family: Roboto, sans-serif;
		line-height: 19px;
		font-weight: 300;
		color: #fff;
		margin-top: 30px;
	}

	&__copy {
		color: #616161;
		font-size: 14px;
		line-height: 16px;
		font-family: Roboto, sans-serif;
		font-weight: 300;
		margin-top: 190px;
	}

	@media (max-width: 1260px) {
		&_show {
			display: block;
		}
	}

	@media (max-width: 768px) {
		& {
			top: 52px;
		}

		&__nav-item {
			font-size: 16px;
			line-height: 19px;
		}

		&__button {
			font-size: 14px;
			line-height: 16px;
			padding-bottom: 13px;
		}

		&__contacts {
			&-phone {
				font-size: 24px;
				line-height: 28px;
				font-weight: 700;
				height: 30px;
				order: 50px;

				background: url(imgs/phone-green.png) no-repeat 100% 50%;
				background-size: 30px auto;
			}

			&-email {
				font-size: 16px;
				line-height: 19px;
				margin-top: 16px;
			}
		}

		&__address {
			margin-top: 16px;
		}

		&__copy {
			margin-top: 50px;
		}
	}
}

.header {
	height: 100vh;
	background-color: #000;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(imgs/background-header.png);
	background-size: cover;
	min-height: 600px;
	//display: none;

	&__opacity {
		content: '';
		position: fixed;
		top: 155px;
		right: 0;
		left: 0;
		transform: translateZ(0);
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&__inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		
	}

	&__header {
		color: #fff;
		margin-top: 0;
		margin-bottom: 19px;
		text-transform: uppercase;
	}

	&__text {
		color: #fff;
		font-size: 16px;
		line-height: 19px;
		font-family: Roboto, sans-serif;
		margin: 0 auto 55px;
		padding: 0 40px;
		width: 600px;
		max-width: 100%;
	}

	@media (max-width: 1366px) {
		min-height: 500px;

		&__opacity {
			top: 120px;
		}

		&__text {
			font-size: 15px;
			line-height: 16px;
		}
	}

	@media (max-width: 1260px) {
		margin-top: 120px;
		height: calc(~"100vh - 120px");

		&__opacity {
			display: none;
		}

		&__inner {
			background-color: rgba(0, 0, 0, 0.8);
		}
	}

	@media (max-width: 768px) {
		min-height: 400px;
		margin-top: 52px;
		height: calc(~"100vh - 52px");
	}

	@media (max-width: 500px) {
		min-height: 300px;
		
		&__text {
			padding: 0 20px;
			font-size: 14px;
		}
	}
}

.made {
	overflow: hidden;
	//display: none;

	&__item {
		position: relative;
		overflow: hidden;
		background-color: #fff;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.8);
			opacity: 0;
			transition: opacity .3s 0s;
		}

		&:hover:before {
			opacity: 1;
		}

		&_head:hover:before {
			display: none;
			background-color: #FFD600;
		}

		& > img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__item_head {
		background-color: #ffd600;
	}

	&__item-cat {
		color: #fff;
		font-size: 16px;
		line-height: 19px;
		font-family: Roboto, sans-serif;
		margin-bottom: 20px;
	}

	&__item-title {
		color: #FFD600;
		font-size: 24px;
		line-height: 32px;
		font-family: PT Sans Caption, sans-serif;
	}

	&__item_left {
		float: left;
	}

	&__item_right {
		float: right;
	}

	&__item_8x5 {
		width: 33.33%;
		height: 20.833vw;
	}

	&__item_8x9 {
		width: 33.33%;
		height: 37.5vw;
	}

	&__item_8x10 {
		width: 33.33%;
		height: 41.665vw;
	}

	&__item_16x4 {
		width: 66.67%;
		height: 16.6675vw;
	}

	&__item_16x5 {
		width: 66.67%;
		height: 20.833vw;
	}

	&__item-inner {
		position: absolute;
		right: 40px;
		bottom: 40px;
		left: 40px;
		opacity: 0;
		transition: opacity .3s 0s;

		&_head {
			top: 20px;
			right: 20px;
			bottom: 20px;
			left: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__item-inner_head {
		opacity: 1;
	}

	&__item:hover > &__item-inner {
		opacity: 1;
	}

	&__item:hover > &__item-inner_head {
		display: flex;
	}

	&__header {
		margin-top: 0;
		margin-bottom: 18px;
		padding: 0;
		width: 585px;
		max-width: 100%;
	}

	&__text {
		font-size: 16px;
		line-height: 19px;
		font-family: Roboto, sans-serif;
		color: #191C1D;
		width: 585px;
		max-width: 100%;
	}

	&__show {
		border: none;
		border-bottom: 1px solid #ba9e09;
		height: 52px;
		background-color: #ffd600;
		background-repeat: no-repeat;
		background-position: 10% 50%;
		background-image: url(imgs/load.svg);
		font-size: 14px;
		color: #191c1d;
		font-family: PT Sans Caption;
		font-weight: 700;
		padding: 0;
		width: 100%;
		display: none;
	}

	@media (max-width: 1366px) {
		font-size: 15px;
		line-height: 18px;

		&__item-cat {
			font-size: 15px;
			line-height: 18px;
		}

		&__item-title {
			font-size: 18px;
			line-height: 24px;
		}
	}

	@media (max-width: 1260px) {

		&__item_3x2 {
			width: 50%;
			height: 33.333vw;
		}

		&__item_3x4 {
			width: 50%;
			height: 66.66vw;
		}

		&__item_6x2 {
			width: 100%;
			height: 33.333vw;
		}

		&__item_tablet-right {
			float: right;
		}

		&__item_tablet-left {
			float: left;
		}

		&__item_head {
			height: 25vw;
			min-height: 250px;
		}
	}

	@media (max-width: 700px) {
		&__item {
			width: 100%;
			height: 56.25vw;
		}

		&__item_head {
			min-height: 270px;
		}

		&__item_mobile_hide {
			display: none;
		}

		&__show {
			display: block;
		}
	}
}

.offer {
	overflow: hidden;
	position: relative;
	background-color: #fff;
	z-index: 1;
	//display: none;

	&__text {
		max-width: 1280px;
		margin: auto auto 70px;
	}

	&__text-inner {
		font-size: 15px;
		line-height: 18px;
		font-weight: 300;
		font-family: Roboto, sans-serif;
		max-width: 685px;
	}

	&__items {
		display: flex;
		max-width: 1280px;
		margin: auto;
	}

	&__item {
		width: 25%;
		padding: 195px 15px 61px;
		font-size: 24px;
		background-repeat: no-repeat;
		background-position: 50% 80px;
		border-right: 1px solid #e5e5e5;
		text-align: center;
		font-family: PT Sans, sans-serif;
		position: relative;

		&:hover {
			background-color: #FFD110;
		}

		&_interior {
			background-image: url(imgs/interior.svg);
			background-size: 88px 58px;
		}

		&_arch {
			background-image: url(imgs/arch.svg);
			background-size: 65px 58px;
		}

		&_item {
			background-image: url(imgs/item.svg);
			background-size: 47px 67px;
		}

		&_calc {
			background-image: url(imgs/calc.svg);
			background-size: 58px 58px;
			cursor: pointer;
			text-decoration: underline;
		}

		&:last-child {
			border-right: none;
		}
	}

	@media (max-width: 1366px) {
		&__text {
			max-width: 1040px;
			padding: 0 40px;
		}

		&__items {
			max-width: 1040px;
			padding: 0 40px;
		}

		&__item {
			font-size: 18px;
			line-height: 24px;
		}
	}

	@media (max-width: 1024px) {
		&__item {
			border-right: none;
			padding: 0;
			background-position: 15% 50%;
			width: 100%;
			height: 256px;
			display: flex;
			text-align: left;
			align-items: center;
			justify-content: center;
		
			&:nth-child(1):after,
			&:nth-child(2):after {
				content: '';
				height: 1px;
				background-color: #e5e5e5;
				position: absolute;
				right: 40px;
				bottom: 0;
				left: 40px;
			}
		}

		&__items {
			flex-direction: column;
			padding: 0;
		}
	}

	@media (max-width: 500px) {
		&__text {
			padding: 0 20px;
		}

		&__item {
			height: 160px;
			font-size: 16px;

			&:nth-child(1):after,
			&:nth-child(2):after {
				right: 40px;
				left: 40px;
			}
		}
	}

	@media (max-width: 400px) {
		&__item {
			background-position: 47px 50%;
			justify-content: flex-start;
			padding-left: 142px;
		}
	}
}

.why {
	overflow: hidden;
	padding-bottom: 43.9%;
	background: url(imgs/background-footer.png) no-repeat 50% 100%;
	background-size: 100% auto;
	position: relative;
	background-color: #fff;
	z-index: 1;
	//display: none;

	&__header {
		margin-top: 124px;
	}
}

.footer {
	z-index: 1;
	position: relative;
	background-color: #fff;
	padding-bottom: 20px;
	//display: none;

	&__inner {
		max-width: 1280px;
		min-height: 130px;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}

	&__inner-right {
		display: flex;

	}

	&__logo {
		background-image: url(imgs/logo-footer.png);
	}

	&__contacts {
		color: #191C1D;
		margin-right: 43px;
	}

	&__contacts-phone {
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
		margin-bottom: 5px;
	}

	&__contacts-email {
		font-size: 16px;
		line-height: 19px;
	}

	&__address {
		max-width: 225px;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		color: #191C1D;
		font-family: Roboto, sans-serif;
	}
	@media (max-width: 1366px) {
		&__inner {
			max-width: 1040px;
			padding: 0 40px;
		}
	}

	@media (max-width: 1024px) {
		&__inner-right {
			flex-direction: column;
		}

		&__contacts {
			margin-bottom: 26px;
		}
	}

	@media (max-width: 768px) {
		&__inner {
			padding: 0 20px;
		}

		&__logo {
			display: none;
		}

		&__inner-right {
			display: block;
			width: 400px;
			max-width: 100%;
		}

		&__contacts {
			margin-right: 0;
			margin-bottom: 30px;
		}

		&__contacts-phone {
			padding-left: 39px;
			height: 31px;
			background: url(imgs/phone-green.png) no-repeat 0 50%;
			background-size: 30px auto;
			margin-bottom: 31px;
		}
	}
}

.order {
	background-color: #FFD110;
	padding: 50px;
	width: 400px;
	position: relative;
	//display: none;

	&__cont {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		overflow: auto;
		display: none;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&__close-div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 27px;
	}

	&__header {
		font-size: 24px;
		line-height: 32px;
		font-family: PT Sans Caption;
		font-weight: 700;
		color: #191C1D;
	}

	&__subheader {
		font-size: 16px;
		line-height: 19px;
		font-family: Roboto, sans-serif;
		font-weight: 500;
		color: #191C1D;
		margin-top: 40px;
		margin-bottom: 33px;
	}

	&__button {
		margin-top: 40px;
		width: 290px;
	}

	&__text {
		color: #191C1D;
		font-size: 14px;
		line-height: 16px;
		font-family: Roboto, sans-serif;
		font-weight: 300;
		margin-top: 112px;
	}

	&__link {
		color: inherit;
		text-decoration: none;
		font-weight: 500;
	}

	@media (max-width: 768px) {
		width: 100%;
		padding-top: 0;
		overflow: hidden;

		&__cont {
			position: static;
		}

		&__inner {
			max-width: 320px;
			margin: auto;
		}

		&__close {
			z-index: 100;
			top: -100px;
		}

		&__header {
			display: none;
		}

		&__text {
			margin-top: 53px;
		}
	}

	@media (max-width: 500px) {
		padding: 20px;

		.label {
			left: 0;
		}
	}
}

.gallery {
	width: 1200px;
	max-width: 100%;
	flex-shrink: 0;

	&__fixed {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		transform: translateZ(0);
		z-index: 3;
		overflow: auto;
		display: none;
	}

	&__cont {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__items {
		white-space: nowrap;
		overflow: hidden;

		& .slick-track {
			display: flex;
			align-items: center;
		}
	}

	&__control {
		position: static;
	}

	&__close {
		border: none;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		top: 20px;
		right: 70px;
		bottom: auto;
		left: auto;
		color: #fff;
		font-size: 36px;
		z-index: 5;
	}

	&__button {
		width: 60px;
		height: 60px;
		border: none;
		padding: 0;
		cursor: pointer;
		background-repeat: no-repeat, no-repeat;
		background-position: 50% 50%, 60px 60px;
		background-color: transparent;
		margin: auto;

		&:hover {
			background-position: 60px 60px, 50% 50%;
		}

		&_prev {
			background-image: url(imgs/btn-gallery-prv.svg), url(imgs/btn-prv-gallery-hover.svg);
			left: 5%;
			right: auto;
		}

		&_next {
			background-image: url(imgs/btn-gallery-next.svg), url(imgs/btn-next-gallery-hover.svg);
			right: 5%;
			left: auto;
		}
	}

	@media (max-width: 1024px) {
		&__button:hover {
			background-position: 50% 50%, 60px 60px;
		}
	}
}